/*font-family: 'Courgette', cursive;
font-family: 'Noticia Text', serif;
font-family: 'Julius Sans One', sans-serif;*/

 /*@font-face {
   font-family: "Courgette";
   src: url("../fonts/Courgette.ttf");
 }*/

body {
  background-color: #BFA5C6;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
}

p {
  font-family: 'Noticia Text', serif;
  font-size: 16px;
  margin: 20px 0 0;
}

header {
  text-align: center;
  padding: 20px 0 20px;
  background-color: #D4EFE3;
  border-bottom: 5px solid #32353F;
}

main {
  text-align: center;
}

div {
  text-align: center;
  padding: 20px 0 0;
}

button {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  margin: 0 10px 0;
  padding: 10px;
}

footer {
  text-align: center;
}

footer > p {
  letter-spacing: -1px;
  font-size: 14px;
}
